@font-face {
    font-family: "阿里妈妈方圆体 VF Regular";
    font-weight: 600;
    src: url("//at.alicdn.com/wf/webfont/SVFiAuBamSOS/Ur8nhvmyPCPt.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/SVFiAuBamSOS/nqpVboRKQwfv.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "思源黑体 Regular";
    font-weight: 400;
    src: url("//at.alicdn.com/wf/webfont/SVFiAuBamSOS/29rKljwJn4PX.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/SVFiAuBamSOS/XYY9XwdYq9sY.woff") format("woff");
    font-display: swap;
}

.go {
    background: white;
    margin: 24px 16px;
    overflow-y: hidden;
    border-radius: 10px;
}

.go-code-container-divider {
    height: 1px;
    width: 100%;
    background: #f1f1f1;
}

.go-code-container-header {
    padding: 18px 24px;
}

.go-code-mirror {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}